*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    text-decoration: none;
}
@import 'untils/mixins';
@import 'untils/placeholders';
@import 'untils/variables';
@import 'webstudio/header';
@import 'webstudio/section-button';
@import 'webstudio/modal';
@import 'webstudio/section-table';
@import 'webstudio/section-gallery';
@import 'webstudio/section-employees';
@import 'webstudio/clients';
@import 'webstudio/footer';

@media (max-width: 1199px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 480px;
    }
}
    