.clients {
   height: auto;
 }
 .clients__img--wrap {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100% - 60px) /3 );
    padding-bottom: 94px;
    gap: 30px;
    
}
 .clients__title {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
}

 .clients__icon {
     width: 170px;
     height: 92px;
     border: 1px solid getColor('icon');
     fill: getColor('icon');
     border-radius: 5px;
     transition: fill 1s cubic-bezier(0.4, 0, 0.2, 1), border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
 
 
 &:hover {
     transition: fill 1s cubic-bezier(0.4, 0, 0.2, 1), border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
     fill: getColor('hover');
     border-color: getColor('hover');
     cursor: pointer;
 }

}