.header {
    padding: 32px;
   


    .header__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;

    }

    .iconn {
        fill: #2196F3;
    }

    .header__wrap {
        display: flex;
        position: relative;
    }
    .line__focus {
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background-color: getColor('hover');
        margin-left: 47px;
        position: absolute;
        top: 53px;
    }

    
}

.header {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__link {
    margin-left: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: getColor('nav');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);




    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }

}



.header__mail {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: getColor('font-card');
    margin-right: 50px;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }
}

.icon__envelope--hover {
    width: 16px;
    height: 12px;
    color: getColor('font-card');
    margin-left: 340px;


    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }

}

.icon__smartphone {
    fill: getColor('font-card');
    width: 10px;
    height: 12px;
    color: #757575;

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }
}

.header__tel {
    text-decoration: none;
    font-size: 14px;
    color: getColor('font-card');
    font-weight: 500;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: map-get($colors, 'hover');
        cursor: pointer;
    }
}