.header {
    padding: 32px;
   position: relative;


    .header__list {
      @extend %list-style;
    }

    .header__icon {
        fill: #2196F3;
    }
     .header__wrapper {
        display: flex;
        align-items: center;
     }
    .header__wrap {
        display: flex;
    }
    .line__focus {
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background-color: getColor('hover');
        margin-left: 47px;
        position: absolute;
        top: 93px;
    }

    
}

.header {

    .container {
       @extend %flex;
    }
}

.header__link {
    margin-left: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: getColor('nav');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);




    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }

}



.header__mail {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: getColor('font-card');
    margin-right: 50px;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }
}

.icon-envelope-hover {
    width: 16px;
    height: 12px;
    color: getColor('font-card');
    margin-left: 340px;


    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }

}
.mail-tel-wrap {
    display: flex;
}
.icon-smartphone {
    fill: getColor('font-card');
    width: 10px;
    height: 12px;
    color: #757575;

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }
}

.header__tel {
    text-decoration: none;
    font-size: 14px;
    color: getColor('font-card');
    font-weight: 500;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: map-get($colors, 'hover');
        cursor: pointer;
    }
}
.mail-tel-wrap {
    display: flex;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 575px) {
    nav {
        order: 1;
        width: 100vw;
      }
    
      label {
        display: block;
        height: 30px;
        position: relative;
        top: 15px;
      }
      input[type="checkbox"] {
        display: none;
      }
      label span {
        margin-left: 150px;
      }
      label span,
      label span::before,
      label span::after {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: #333;
        position: absolute;
       
        transition: 0.3s;
      }
    
      label span::before {
        top: -8px;
       
      }
    
      label span::after {
        top: 8px;
      
      }
      .line__focus {
        display: none;
      }
      .header__wrap {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: start;
      }
      .mail-tel-wrap {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: start;
      }
      .header__wrapper {
        display: none;
      }
      input[type="checkbox"]:checked ~ .header__wrapper {
        display: flex;
        flex-direction: column;
      }
      .header__wrapper {
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        padding: 20px;
        background: #fff;
        box-shadow: 0 12px 8px #ececec;
      }
      
      .header__wrapper li {
        margin: 15px 0;
      }
      input[type="checkbox"]:checked ~ label span {
        transform: rotate(-45deg);
      }
      input[type="checkbox"]:checked ~ label span::before {
        top: 0;
        transform: rotate(0);
      }
      input[type="checkbox"]:checked ~ label span::after {
        top: 0;
        transform: rotate(90deg);
      }
}