.is-hidden .modal {
    transform: scale(0.8) translate(-50%, -50%);
}
.modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 700px;
    padding: 15px;
    background-color: #FFFFFF;
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.modal-wrap {
   margin-right: 40px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.btn {
    width: 216px;
    height: 50px;
    color: #FFFFFF;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.no-scroll {
    overflow: hidden;
}
.label-text {
    margin-bottom: 10px;
}
.sign-out-input {
    height: 50px;
}
.textarea {
    height: 120px;
    border: 1px solid #21212133;
    border-radius: 4px;
    padding: 10px;
}
.label {
    margin: 20px 0;
    display: block;
}
.checkbox {
   width: 16px;
   height: 15px;
   margin-right: 10px;
   cursor: pointer;
}
.checkbox-text {
    align-items: center;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.conditions {
    color: #2196F3;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.submit {
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.checkbox-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.button-wrap {
    display: flex;
    justify-content: center
}
.label-text {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}
.input-wraper {
    display: block;
    text-align: start;
}
.modal-title {
    color: #212121;
    font-weight: 700;
    font-size: 20px;
    padding-top: 40px;
}
.close-svg {
    width: 30px;
    height: 30px;
}
.button-close {
  border: 0;
  background-color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  height: 45px;
  right: 8px;
  top: 8px;
  border: 1px solid #0000001A;
  border-radius: 20px;
  padding: 6px;
}

.input-wrap {
    position: relative;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: 
    url('./Vector-3.svg');
    background-size: 18px 18px;
    background-position: 10px 14px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}
input[type=tel] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./Vector-1-1.svg');
    background-size: 18px 18px;
    background-position: 10px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
input[type=email] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('./Vector-2-1.svg');
    background-size: 18px 18px;
    background-color: white;
    background-position: 10px 14px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.textarea:focus {
    outline-width: 0;
}

.textarea:not(:placeholder-shown):required:valid {
    border-color: green;
}
.textarea:not(:placeholder-shown):required:invalid {
    border-color: red;
}

.svg-input {
    height: 18px;
    width: 18px;
    position: absolute;
    bottom: 11px;
    left: 12px;
}
form {
    margin-left: 40px;
}
.sign-out-input:focus {
    border: 1px solid #2196F3;
    outline-width: 0;
    fill: #2196F3;
}