.section__button {
    background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(26, 18, 18, 0.452)),
        url("../../Photo18/section-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 0;
    margin-bottom: 94px;
    
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section__button {
      background-image: url("../../Photo18/background.jpg");
    }
  }

    .section__titl {
        white-space: pre-wrap;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        padding-bottom: 30px;
        color: getColor('background-card');
        vertical-align: auto;
    }

}