.header {
    padding: 32px;
    border-bottom: 1px solid getColor('header-background');
    margin-bottom: 94px;

    .header__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
    .header__logo {
        padding-top: 24px;
        padding-bottom: 32px;
    }
    .header__wrap {
        display: flex;
        position: relative;
    }
    .line__focus {
        width: 78px;
        height: 4px;
        border-radius: 2px;
        background-color: getColor('hover');
        margin-left: 47px;
        position: absolute;
        top: 53px;
    }
}

.header {
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.header__link {
    padding-top: 32px;
    color: getColor('font');
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 32px;
    margin-left: 51px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
    }
}

.icon__envelope--hover {
    width: 16px;
    height: 12px;
    color: getColor('font-card');
    margin-left: 320px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }
}

.icon__smartphone {
    fill: getColor('font-card');
    width: 10px;
    height: 12px;
    color: getColor('font-card');

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
        cursor: pointer;
    }
}

.header__mail {
    padding-top: 32px;
    color: getColor('font');
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
    }
}

.header__tel {
    padding-top: 32px;
    color: getColor('font');
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor('hover');
    }
}