.header {
    padding: 32px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 94px;

    .header-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
    .header-logo {
        padding-top: 24px;
        padding-bottom: 32px;
    }
    .header-wrap {
        display: flex;
        position: relative;
    }
    .line-focus {
        width: 78px;
        height: 4px;
        border-radius: 2px;
        background-color: #2196F3;
        margin-left: 47px;
        position: absolute;
        top: 53px;
    }
}

.header {
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.header-link {
    padding-top: 32px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 32px;
    margin-left: 51px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: dodgerblue;
    }
}

.icon-envelope-hover {
    width: 16px;
    height: 12px;
    color: #757575;
    margin-left: 320px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #2196F3;
        cursor: pointer;
    }
}

.icon-smartphone {
    fill: #757575;
    width: 10px;
    height: 12px;
    color: #757575;

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #2196F3;
        cursor: pointer;
    }
}

.header-mail {
    padding-top: 32px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: dodgerblue;
    }
}

.header-tel {
    padding-top: 32px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: dodgerblue;
    }
}